/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/


/**
 * CONTENTS...............It's right here!
 * CLEARFIX...............Nicholas Gallagers Clearfix Hack
 * BOX-SIZING.............Simple box model 
 * BORDER-RADIUS..........Add Border Radius with one line of code
 * CENTER ALIGN...........Center align block level element
 * FONT SIZING............Font sizing in px and rem
 * VENDOR PREFIX..........Add vendor-prefix to anything
 */








/*------------------------------------*\

Clearfix Mixin

\*------------------------------------*/



%clearfix{
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	} 
}

.wrapper {
	@extend %clearfix;
}

.row {
	@extend %clearfix;
}

.site--head {
	@extend %clearfix;
}






/*------------------------------------*\


Box Sizing Mixin

\*------------------------------------*/




@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; 
     -moz-box-sizing: $box-model; 
          box-sizing: $box-model;
}

*,
*:after,
*:before {
	@include box-sizing(border-box);
}







/*------------------------------------*\


Border Radius Mixin

\*------------------------------------*/





@mixin border-radius($radius) {
	background-clip: padding-box;  
	-webkit-border-radius: $radius;
	        border-radius: $radius;
}

.btn {
	@include border-radius(5px);
}






/*------------------------------------*\


Center Align Block Element Mixin

\*------------------------------------*/



@mixin centered {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.site--foot {
	width: 800px;
	@include centered;
}






/*------------------------------------*\


REM FONT SIZING MIXIN

\*------------------------------------*/


@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px; 
	font-size: $sizeValue + rem;
}

p {
	@include font-size(1.4);
}

h1 {
	@include font-size(3.6);
}






/*------------------------------------*\


VENDOR PREFIX MIXIN

\*------------------------------------*/


@mixin prefix($name, $argument) {
	-webkit-#{$name}: #{$argument};
       -moz-#{$name}: #{$argument};
            #{$name}: #{$argument};
}

.shadow {
	@include prefix(box-shadow, inset 0 0 10px #f9f9f9);
}


